/* h1 {text-align: center;} */
h2 { text-align: center;
color: red;
border: solid 2px black;
}
h3 {text-align: center;
color: brown;
border: solid 2px black;
}
h4 {text-align: center;
color: blue;
border: solid 2px black;
}
h5 {text-align: center;
color: blueviolet;
border: solid 2px black;
}
h6 {text-align: center;
color: green;
border: solid 2px black;
}

#text-0 {
  text-decoration: line-through;
}

#text-1 {
  text-decoration: underline;
  color: brown;
  margin-bottom: 50px;
}

#text-2 {
  color: darkblue;
   margin-bottom: 100px;
}

#text-3 {
  color: lightslategrey;
   margin-bottom: 100px;
}

#text-4 {
  color: darkslategray;
   margin-bottom: 50px;
}

#text-5 {
  color: firebrick;
   margin-bottom: 100px;
}

#text-6 {
  margin-bottom: 100px;
}

#inseption {
  margin-bottom: 40px;
}


body {
  background-image: url(/images/fon.jpg);
}

.book {
 margin-left: 45%;
 margin-bottom: 100px;
}